table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 25%;
}

table th {
    background-color: rgb(159, 209, 72);
    text-align: left;
    color: whitesmoke;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}

table th,
table td {
    border: 1px solid green;
}

table tbody tr:nth-child(odd) td {
    background-color: rgb(17, 233, 17);
}